<div class="d-flex w-100 h-75 justify-content-center align-items-center">
  <form name="dictionary">
    <div class="text-center fw-bold">
      Загрузка нового словаря
    </div>
    <div class="mt-2">
      Словарь в CSV-формате
    </div>
    <div class="field-description text-center mt-1">
      будет назван по имени файла
      <br>
      обязательно наличие столбцов: ENG, RUS, Image
      <br>
      у некоторых слов столбец Image может быть пустым
      <br>
      разделитель - точка с запятой
    </div>
    <div class="mt-1 text-center">
      <input id="dict-file" name="dict-file" type="file"
             accept="text/csv" (change)="validateDictFile()">
      <br>
      <div *ngIf="formErrors.dictFile" class="validation-error-text">
        Файл не отвечает требованиям
      </div>
    </div>
    <div class="mt-3">
      Zip-архив с изображениями
    </div>
    <div class="mt-1 text-center">
      <input id="photos-archive" name="photos-archive" type="file"
             accept="application/zip" (change)="validatePhotosArchive()">
      <br>
      <div *ngIf="formErrors.photosArchive" class="validation-error-text">
        Архив не отвечает требованиям
      </div>
    </div>
    <div class="mt-3 text-center">
      <div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
        <sa-spinner-dotted [size]="60" [thickness]="150" [color]="'#e51c23'" [speed]="150"></sa-spinner-dotted>
      </div>
      <button *ngIf="!isLoading" type="button"
              class="btn rounded-pill text-white accent-bg-color accent-bg-color__hover w-100"
      (click)="onSubmit()">
        Загрузить
      </button>
    </div>
  </form>
</div>
<swal #validationErrorSwal title="Некорректные данные" icon="warning" text="Проверьте правильность введённых данных">
</swal>
<swal #serverValidationErrorSwal title="Некорректные данные" icon="error" text="Данные не прошли проверку на сервере">
</swal>
<swal #unknownErrorSwal title="Неизвестная ошибка" icon="error" text="">
</swal>
<swal #successSwal title="Сохранено" icon="success" text="Словарь успешно загружен">
</swal>
