/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
}

.accent-color {
  color: #e51c23
}

.accent-color__hover:hover {
  color: #900105;
}

.accent-bg-color {
  background-color: #e51c23;
}

.accent-bg-color__hover:hover {
  background-color: #900105;
}
