<div class="d-flex w-100 h-75 justify-content-center align-items-center">
  <div *ngIf="isLoading">
    <sa-spinner-dotted [size]="100" [thickness]="150" [color]="'#e51c23'" [speed]="150"></sa-spinner-dotted>
  </div>
  <div *ngIf="!isLoading">
    <div class="text-center fw-bold">
      Выберите словарь
    </div>
    <div>
      <select #dictSelect *ngIf="dicts.length > 0"
              (change)="selectedDictId = dictSelect.value"
              class="w-100 mt-3">
        <option *ngFor="let dict of dicts" [value]="dict.id">
          {{dict.name}}
        </option>
      </select>
      <div class="text-center mt-3">
        <button class="btn rounded-pill text-white accent-bg-color accent-bg-color__hover"
                (click)="onBtnStartClick()">
          Начать изучение
        </button>
      </div>
    </div>
  </div>
</div>
