<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <sa-spinner-dotted [size]="80" [thickness]="150" [color]="'#e51c23'" [speed]="150"></sa-spinner-dotted>
</div>
<div *ngIf="!isLoading">
  <div class="d-flex flex-wrap justify-content-around mt-3">
    <div class="dict-description">
      Текущий словарь: {{dictionary.name}}
      ({{dictionary.pairsCount}} {{getGenitiveCaseForNeuterWord(dictionary.pairsCount, 'слов')}})
    </div>
    <ng-toggle
      title="Обменять языки местами"
      [disabled]="false"
      [width]="130"
      [height]="35"
      [margin]="3"
      [fontSize]="16"
      [labels]="languageSwitchSettings.labels"
      [color]="languageSwitchSettings.colors"
      [switchColor]="languageSwitchSettings.switchColors"
      [values]="languageSwitchSettings.values"
      [fontColor]="languageSwitchSettings.fontColors"
      (change)="swapLanguages()">
    </ng-toggle>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <img *ngIf="dictionary.pairs[pairIndex].photoUrl !== null" [src]="dictionary.pairs[pairIndex].photoUrl">
  </div>
  <div class="word-flex d-flex justify-content-center mt-1">
    <div class="word">
      {{word}}
      <button class="speak-button btn rounded-pill accent-bg-color accent-bg-color__hover"
              (click)="pronounce(word, doSwapLanguages ? 'ru-RU' : 'en-US')">
        <img src="assets/img/icons/sound.png">
      </button>
    </div>
  </div>
  <div class="word-flex d-flex justify-content-center">
    <div class="word">
      {{isTranslationVisible ? translation : '???'}}
      <button *ngIf="isTranslationVisible"
              class="speak-button btn rounded-pill accent-bg-color accent-bg-color__hover"
              (click)="pronounce(translation, doSwapLanguages ? 'en-US' : 'ru-RU')">
        <img src="assets/img/icons/sound.png">
      </button>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center mt-3">
    <button class="btn rounded-pill text-white accent-bg-color accent-bg-color__hover"
            (click)="isTranslationVisible = !isTranslationVisible">
      <img src="assets/img/icons/eye.png" class="me-1">
      {{isTranslationVisible ? 'Скрыть' : 'Показать'}} перевод
    </button>
    <button class="btn rounded-pill ms-3 text-white accent-bg-color accent-bg-color__hover"
            (click)="moveToNextPair()">
      Следующее слово
      <img src="assets/img/icons/next.png" class="ms-1">
    </button>
  </div>
</div>
