<div class="d-flex justify-content-center w-100">
  <div>
    <input type="text"
           [(ngModel)]="searchInputText"
           (keydown)="searchInputEvent.next(undefined)"
           placeholder="Искать слово или перевод"
           class="search-input mt-3">
  </div>
</div>
<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <sa-spinner-dotted [size]="80" [thickness]="150" [color]="'#e51c23'" [speed]="150"></sa-spinner-dotted>
</div>
<div *ngIf="!isLoading">
  <div *ngIf="pairs.pairs.length == 0">
    <div *ngIf="search === ''" class="text-center mt-3">
      Словари отсутствуют
    </div>
    <div *ngIf="search !== ''" class="text-center mt-3">
      Ничего не найдено
    </div>
  </div>
  <div *ngIf="pairs.pairs.length > 0">
    <div class="text-center mt-3">
      <span *ngIf="search !== ''">Найдено</span><span *ngIf="search === ''">Всего</span> слов: {{pairs.pairs.length}}
    </div>
    <div class="d-sm-flex justify-content-center w-100 mt-3">
      <table class="table table-bordered table-hover translations-table">
        <thead>
        <tr class="text-center">
          <td>
            ENG
          </td>
          <td>
            RUS
          </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pair of pairs.pairs">
          <td>
            {{pair.word}}
          </td>
          <td>
            {{pair.translation}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
