.logo {
  font-family: "Segoe Script", serif;
  font-size: x-large;
  font-weight: bold;
}

.menu-link {
  font-size: large;
  font-weight: bold;
  height: 100% !important;
  color: white;
  margin-left: 30px;
}

.menu-link:hover {
  cursor: pointer;
  padding-bottom: 1px;
  border-bottom: solid 2px white;
}
