<div class="w-100 d-flex flex-wrap justify-content-between align-items-center px-5 py-2 accent-bg-color">
  <div class="logo text-white">
    Let's study!
  </div>
  <div class="d-flex flex-wrap justify-content-end align-items-center">
    <div *ngIf="router.url !== '/select-dict'" class="menu-link"
         (click)="router.navigateByUrl('/select-dict')">
      Выбрать словарь
    </div>
    <div *ngIf="router.url !== '/upload-dict'" class="menu-link"
         (click)="router.navigateByUrl('/upload-dict')">
      Загрузить словарь
    </div>
    <div *ngIf="router.url !== '/all-words'" class="menu-link"
         (click)="router.navigateByUrl('/all-words')">
      Общий словарь
    </div>
  </div>
</div>
